@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #212428;
}

::-webkit-scrollbar{
  width: 0;
}

.primary{
  @apply border-[1.5px] border-green-500 hover:bg-green-500 text-green-500 transition duration-700 hover:text-white;
}
/* global css */
.primary-text-color{
  @apply text-green-500;
}
.secondary-text-color{
  @apply text-white;
}
.border-color{
  @apply border-gray-500;
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}